body{background-color: #964B00;
	 color: #00FF00; 
	 font-family: Verdana, sans-serif;}
p{font-size: 0.88em;}
h1{text-transform: uppercase;}
h2{color: #FF0000; font-weight: bold;}
.emphesis{background-color: #000000;
			font-size: 111%; 
			font-weight: bold; 
			color: rgb(255, 255, 255)}
#center{
	left-margin: auto; right-margin: auto; width: 52%}
	p, ol {text-align: center;}

