* {box-sizing: border-box; }


header { color: #0E005E; 
        background-color: #86EEE7;
		
	    background-repeat: no-repeat;		
		background-size: auto 100%;
		background-image: url(images/stumps.jpg); background-position-x: left;
        padding: .5em 0 .5em 5.5em;
        text-align: center;
}

		.content-table { font-size: 0.8em; 
		width: 400px; border collaps: collapse;}
		.row {
  		display: flex;
  		margin-left:-5px; margin-right: -5px;
				}
		.column {
		flex: 45%;
		padding: 5px;}


body { background-color: #FFFFED; }
	nav ul { display: block;
			flex-flow: row wrap;}
			main {color: brown;}
	header { grid-area: header; }
    nav    { grid-area: nav; }
    main   { grid-area: main; }
	aside  { grid-area: aside; }
    footer { grid-area: footer; }		
	#wrapper { width: 100%;
			   margin: auto; 
			   display: grid;
			   grid-template: 
			     "header header" 
				 "nav nav" 
				 "main aside"   
				 "footer footer" / 43%
				 }

nav {text-align: right; font-weight: bold; font-size: 1.3em;
border-bottom: 0; margin-right: 48%;}

/*Making a drop down navigation hyperlink for Cricket Boards-*/

nav {position: relative;}
nav ul ul { position: absolute; display: none; text-align: left;}
nav ul ul li { display: block; border: 3px solid #00D;}
nav:hover ul { display: block; margin-left: 2em; 
	}

body:hover {transition: color 5s linear;}

nav li:nth-of-type(odd) {background-color: #FFC; }


nav a:link { color: #00005D; }
nav a:hover { color: #FF0000; }
img{margin: 2em;}
h2, h3 {color: blue;}
.bottom caption{caption-side: bottom;color: green; background-color: white; font-size: 1.2em;
		text-align: center;}

/*CSS for form elements, form*/
form {background-color: lawngreen;
		width: 90%; border: 3px groove dotted;
		box-shadow: 10px 8px 10px brown; 
		margin: auto; padding: 5px 6px 9px;}

